doctype html
html(class="no-js", lang="ru")

    include ../components/head/head.pug
    head
        +head(head.defaults)
    body

        // Popup thanks
        include ../components/popup/popup.pug

        // Header
        include ../components/header/header.pug
        
        //Main content
        include ../components/mainContent/mainContent.pug

        // Footer
        include ../components/footer/footer.pug



        // Fogging
        include ../components/fogging/fogging.pug

        //- Main scripts. You can replace it, but I recommend you to leave it here
        script(src='%=static=%js/main%=hash=%%=min=%.js')