.table__text {
	height: 45px;
	padding-left: 40px;
}
@media only screen and (max-width: 1367px) {
	.table__text {
		padding-left: 30px;
	}
}
@media only screen and (max-width: 1023px) {
	.table__text {
		padding-left: 20px;
	}
}
@media only screen and (max-width: 767px) {
	.table__text {
		padding-left: 15px;
		height: 40px;
	}
}
@media only screen and (max-width: 599px) {
	.table__text {
		padding-left: 10px;
		height: 30px;
	}
}
@media only screen and (max-width: 479px) {
	.table__text {
		padding-left: 5px;
		height: 30px;
	}
}