.table__title {
	font-family: 'ProximaNovaSemibold';
	font-size: 18px;
	color: #343434;
	background-color: #e2ebf1;
	height: 45px;
	text-align: left;
	padding-left: 40px;
	border-bottom: 1px solid transparent
}