footer.footer
		.subscribe#subscribe
			.pageContent.subscribe__content
				.subscribe__text Будьте в курсе всех акций и выгодных предложений
				form.subscribe__form
					input(type='email' name='subscribeEmail' placeholder='Укажите ваш E-mail' required).subscribe__email
					input(type='submit' value='Подписаться' name='subscribeSubmit').subscribe__submit
					.subscribe__info 
						|Нажимая кнопку «Подписаться», я подтверждаю свою дееспособность и даю согласие 
						br
						|по установленной форме на обработку своих персональных данных
		.container
			.pageContent.container__content
				.logoBlock
					a(href='#').logoBlock__logo
						img(src='%=static=%img/assets/footer/logo.png', alt='Logo' title='PrintPro')
					a(href='#').logoBlock__link Политика конфиденциальности
				.contacts
					.contacts__left
						a(href='#').contacts__link Блог
						a(href='#').contacts__link Оплата
						a(href='#').contacts__link Доставка
					.contacts__right
						a(href='#').contacts__link О нас
						a(href='#').contacts__link Контакты
				.brands
					.brands__left
						a(href='#').brands__link HP
						a(href='#').brands__link Canon
						a(href='#').brands__link HP
						a(href='#').brands__link Xerox
						a(href='#').brands__link Samsung
					.brands__center
						a(href='#').brands__link Panasonic
						a(href='#').brands__link HP
						a(href='#').brands__link Canon
						a(href='#').brands__link HP
						a(href='#').brands__link Xerox
					.brands__right
						a(href='#').brands__link Samsung
						a(href='#').brands__link Panasonic
						a(href='#').brands__link HP
						a(href='#').brands__link Xerox
						a(href='#').brands__link Samsung
				.info
					.info__mail printpro@gmail.com
						img(src='%=static=%img/assets/footer/mail.png', alt='printpro@gmail.com').info__img
					.info__phone
						img(src='%=static=%img/assets/footer/phone.png', alt='phone').info__img
						span.info__phone--num1 8 777 145 54 54
						span.info__phone--num2 8 701 498 89 89
					.info__schedule Пн-Вс 9:00 - 19:00
						img(src='%=static=%img/assets/footer/clock.png', alt='schedule').info__img
		.copyright
			.pageContent.copyright__content
				.copyright__info ©  2007-2018, Интернет-магазин картриджей
				.copyright__author 
					img(src='%=static=%img/assets/footer/markello.png', alt='Markello').copyright__img
					span Made this love