.gift__title {
	font-family: 'ProximaNovaBold';
	font-size: 40px;
	color: #004884;
	margin-top: 25px;
}
@media only screen and (max-width: 1367px) {
	.gift__title {
		font-size: 30px;
		margin-top: 15px;
	}
}
@media only screen and (max-width: 1023px) {
	.gift__title {
		font-size: 26px;
		margin-top: 10px;
	}
}
@media only screen and (max-width: 767px) {
	.gift__title {
		font-size: 20px;
	}
}
@media only screen and (max-width: 599px) {
	.gift__title {
		font-size: 18px;
	}
}