.thanks__link {
	text-decoration: none;
	color: #fff;
	background-color: rgb(0, 174, 70);
	display: inline-block;
	font-family: 'ProximaNovaBold';
	font-size: 18px;
	text-align: center;
	width: 216px;
	height: 45px;
	line-height: 45px;
	align-self: center;
}