.brands {
	display: flex;
	padding-top: 25px;
	width: 355px;
	justify-content: space-between;
	margin-left: 140px;
}

@media only screen and (max-width: 1367px) {
	.brands {
		width: 300px;
		margin-left: 70px;
	}
}
@media only screen and (max-width: 767px) {
	.brands {
		margin: 0;
		padding-top: 10px;
	}
}