.contacts__link {
	align-self: flex-start;
	text-decoration: none;
	color: #fff;
	height: 20px;
	line-height: 20px;
	border-bottom: 1px solid transparent;
	transition: border 0.4s;
	&:hover {
		border-bottom: 1px solid #fff;
	}
}