.articles__title {
	font-family: 'ProximaNovaBold';
	font-size: 24px;
	display: block;
	color: #343434;
}
@media only screen and (max-width: 1367px) {
	.articles__title {
		width: 100%;
	}
}
@media only screen and (max-width: 1023px) {
	.articles__title {
		font-size: 22px;
	}
}
@media only screen and (max-width: 599px) {
	.articles__title {
		font-size: 18px;
	}
}