.mainContent
	.catalog.pageContent Главная  / Блог  / Подарок от Meizu
	.content.pageContent
		.gift
			.gift__photo
			.gift__title Подарок от Meizu
			.gift__date 12.07.2018
			.gift__text
				|Скидка и подарок? Не может быть! В «Белом Ветре» может! При покупке смартфона Meizu Pro 6 Plus по 
				|суперцене 89900 тенге вы получаете в придачу подарок - 
				span фирменную термобутылочку 
				|или монопод!
				br
				|Пусть ваше лето будет активным и незабываемым вместе с Meizu!
			.question
				.question__title Как выбрать картридж?
				.question__text
					|Скидка и подарок? Не может быть! В «Белом Ветре» может! При покупке смартфона Meizu Pro 6 Plus по 
					|суперцене 89900 тенге вы получаете в придачу подарок - 
					a(href='#').question__link фирменную термобутылочку
					|&nbspили монопод!
					br
					span Пусть ваше лето будет активным 
					|и незабываемым вместе с Meizu!
			ul.pros
				li.pros__li 
					span Выгодно
				li.pros__li 
					span Сначала дешевле копия
				li.pros__li 
					span Большой выбор
			.description
				.description__title Описание
				table.table
					tr
						th.table__cell.table__title Text 1
						th.table__cell.table__title Text 2
						th.table__cell.table__title Text 3
					tr
						td.table__cell.table__text Text 1
						td.table__cell.table__text Text 2
						td.table__cell.table__text Text 3
					tr
						td.table__cell.table__text Text 1
						td.table__cell.table__text Text 2
						td.table__cell.table__text Text 3
					tr
						td.table__cell.table__text Text 1
						td.table__cell.table__text Text 2
						td.table__cell.table__text Text 3
					tr
						td.table__text.table__cell Text 1
						td.table__text.table__cell Text 2
						td.table__text.table__cell Text 3
			.rating
				.rating__text Вам была интересна эта статья?
				.blike
					.amount 944
				.bdislike
					.amount 38
				input(type='submit' name='ratingSubmit' value='Подписаться').rating__submit
			img(src='%=static=%img/assets/Maincontent/vk.png' alt='Comments image').comments

		aside.articles
			.articles__title Полезные статьи
			.article
				a(href='#').article__link Как выбрать картридж?
				.article__text Картридж он и в Африке картридж. Так думают многие...
			.article
				a(href='#').article__link Картридж какой фирмы лучше?
				.article__text Картридж он и в Африке картридж. Так думают многие...
			.article
				a(href='#').article__link Как выбрать картридж?
				.article__text Картридж он и в Африке картридж. Так думают многие...
			.more 
				a(href='#').more__link 
					|Смотреть все статьи
