.info {
	margin-left: auto;
	padding-top: 25px;
	color: #fff;
}

@media only screen and (max-width: 1023px) {
	.info {
		width: 100%;
		display: flex;
		justify-content: space-around;
		margin: 0;
	}
}
@media only screen and (max-width: 767px) {
	.info {
		width: auto;
		display: block;
		margin-left: auto;
		padding-top: 10px;
	}
}
@media only screen and (max-width: 479px) {
	.info {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		margin: 0;
	}
}