.subscribe__text {
	font-family: 'ProximaNovaBold', sans-serif;
	font-size: 30px;
	color: #343434;
	margin-bottom: 25px;
	align-self: center;
}

@media only screen and (max-width: 1367px) {
	.subscribe__text {
		font-size: 24px;
	}
}
@media only screen and (max-width: 767px) {
	.subscribe__text {
		font-size: 18px;
	}
}
@media only screen and (max-width: 320px) {
	.subscribe__text {
		font-size: 12px;
		margin-bottom: 10px;
	}
}
