.more {
	height: 68px;
	display: flex;
	justify-content: center;
}
@media only screen and (max-width: 1023px) {
	.more {
		height: 60px;
	}
}
@media only screen and (max-width: 767px) {
	.more {
		height: 50px;
	}
}